{% if
    app.request.attributes.get('_route') == 'app_login' or
    app.request.attributes.get('_route') == 'app_register'
%}

{% else %}

    <!-- Start Copy Right Section -->
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>Vegan © 2020 - Designed by Cute Themes.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li> <a href="terms-condition.html">Terms & Conditions</a>
                        </li>
                        <li> <a href="privacy-policy.html">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copy Right Section -->

{% endif %}