{% if
    app.request.attributes.get('_route') == 'app_login' or
    app.request.attributes.get('_route') == 'app_register' %}

{% else %}

    <!-- Start Footer Area -->
    <footer class="footer-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-box-item">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Localisation</h3>
                        </div>
                        <p>
                            8 Rue des Casernes,
                            <br>
                            70000 Vesoul.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 footer-box-item">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                        </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 footer-box-item">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>Nous Contactez</h3>
                    </div>
                    <div class="footer-info-contact"><a class="footer-number" href="tel:0384960886">03 84 96 08 86</a>
                    </div>
                    <div class="footer-info-contact"><a href="mailto:bhv.marais@gmail.com">bhv.marais@gmail.com</a>
                    </div>
                    <ul class="footer-social">
                        <li>
                            <a href="https://www.facebook.com/bhv.brasserie"> <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/bhv_vesoul70/"> <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- End Footer Section -->

{% endif %}