{% extends 'base.html.twig' %}

{% block title %}Les Évènements{% endblock %}

{% block body %}

    {% include 'partials/_startpage.html.twig' %}


    {# TODO: Faire le listing des événements #}
    <!-- Events Section Start -->
    <section id="event" class="event-area pt-70 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 event-item">
                    <div class="single-event">
                        <div class="post-img">
                            <a href="#">
                                <img src="assets/img/event/event-1.jpg" alt="" />
                            </a>
                            <div class="event-date">
                                <h6><span class="date-color">10</span> Nov</h6>
                            </div>
                        </div>
                        <div class="event-content">
                            <div class="event-body-title">
                                <h5><a href="#">Food Tasting Event</a></h5>
                            </div>
                            <div class="event-body-text">
                                <p>9:00 AM - 4:00 PM - 15466 New York</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 event-item">
                    <div class="single-event">
                        <div class="post-img">
                            <a href="#">
                                <img src="assets/img/event/event-2.jpg" alt="" />
                            </a>
                            <div class="event-date">
                                <h6><span class="date-color">15</span> Nov</h6>
                            </div>
                        </div>
                        <div class="event-content">
                            <div class="event-body-title">
                                <h5><a href="#">Charity Events</a></h5>
                            </div>
                            <div class="event-body-text">
                                <p>8:00 AM - 8:00 PM - 10276 New York</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 event-item">
                    <div class="single-event">
                        <div class="post-img">
                            <a href="#">
                                <img src="assets/img/event/event-3.jpg" alt="" />
                            </a>
                            <div class="event-date">
                                <h6><span class="date-color">25</span> Nov</h6>
                            </div>
                        </div>
                        <div class="event-content">
                            <div class="event-body-title">
                                <h5><a href="#">Private Parties Event</a></h5>
                            </div>
                            <div class="event-body-text">
                                <p>5:00 PM - 9:00 PM - 13176 New York</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 event-item">
                    <div class="single-event">
                        <div class="post-img">
                            <a href="#">
                                <img src="assets/img/event/event-4.jpg" alt="" />
                            </a>
                            <div class="event-date">
                                <h6><span class="date-color">5</span> Dec</h6>
                            </div>
                        </div>
                        <div class="event-content">
                            <div class="event-body-title">
                                <h5><a href="#">Live Music Event</a></h5>
                            </div>
                            <div class="event-body-text">
                                <p>11:00 AM - 3:00 PM - 14576 New York</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 event-item">
                    <div class="single-event">
                        <div class="post-img">
                            <a href="#">
                                <img src="assets/img/event/event-5.jpg" alt="" />
                            </a>
                            <div class="event-date">
                                <h6><span class="date-color">17</span> Dec</h6>
                            </div>
                        </div>
                        <div class="event-content">
                            <div class="event-body-title">
                                <h5><a href="#">Wine Tasting Event</a></h5>
                            </div>
                            <div class="event-body-text">
                                <p>10:00 AM - 12:00 PM - 11776 New York</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 event-item">
                    <div class="single-event">
                        <div class="post-img">
                            <a href="#">
                                <img src="assets/img/event/event-6.jpg" alt="" />
                            </a>
                            <div class="event-date">
                                <h6><span class="date-color">20</span> Dec</h6>
                            </div>
                        </div>
                        <div class="event-content">
                            <div class="event-body-title">
                                <h5><a href="#">Birthday Party Event</a></h5>
                            </div>
                            <div class="event-body-text">
                                <p>8:00 PM - 9:00 PM - 11946 New York</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Events Section End -->

    <!-- Video Opening Hours Section Start -->
    <section class="video-opening-hours-area">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-4">
                    <div class="video-box">
                        <a href="https://www.youtube.com/watch?v=xg7iNd0qkDM" class="video-btn popup-youtube">
                            <img src="assets/img/play-button-light.svg" alt="play button icon">
                        </a>
                        <h3>Intro Video</h3>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-8">
                    <div class="store-location-opening-hours-box">
                        <div class="contact-opening-hours-title">
                            <h3>Make Call For Reservations</h3>
                            <h4>Contact Info & Opening Hours</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-store-location">
                                    <h3>Store at USA</h3>
                                    <h6>Email: <a href="mailto:random@exmaple.com">demo@exmaple.com</a></h6>
                                    <h6>Phone: <a href="tel:0802235678">+080 707 555-321</a></h6>
                                    <p>526 Melrose Street, 11976 New York</p>
                                </div>
                                <div class="opening-hours-box">
                                    <h6 class="day">Monday to Saturday</h6> 	<span class="time">8:00 AM - 10:00 PM</span>
                                    <p>Closed Sundays</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video Opening Hours Section End -->

{% endblock %}